<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        wawer.it
      </h1>
      <p>©2023 All rights reserved.</p>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <h4>Sites</h4>
      <ul>
        <li><a href="/index.html">Blog</a></li>
        <li><a href="/privacy.html">Privacy</a></li>
      </ul>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact</h4>
      <ul>
        <li><a href="mailto:krzysztof@wawer.it">E-mail</a></li>
      </ul>
      <div class="spacing"></div>
      <ul class="socials">
        <li>
          <a href="https://twitter.com/chris_wawer" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/chris-wawer/en" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <div class="spacing"></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
